<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.volunteer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7HzTbk-4UW3alfScM_yr5NQJCZWss4cA" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity android:name=".SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.example.user.volunteer.configuration.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".DetailActivity"
            android:label="Event"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".CreateEventActivity"
            android:label="Create Event"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".CreateQuestionActivity"
            android:label="เพิ่มคำถาม"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="กิจกรรมที่สมัคร"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".AnswerQuestionActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="คำถามกิจกรรม"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".FavoriteActivity"
            android:label="อ่านภายหลัง"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".OwnerEventActivity"
            android:label="กิจกรรมที่สร้าง"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ShowUserRegisActivity"
            android:label="ผู้สมัครกิจกรรม"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".ShowQuesAnsUserActivity"
            android:label="คำตอบผู้สมัคร"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".JoinEventActivity"
            android:label="กิจกรรมที่เข้าร่วม"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".EditEventActivity"
            android:label="แก้ไข"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".FilterActivity"
            android:label="Filter Event"
            android:theme="@style/AppThemeWithActionBar" />
        <activity android:name=".CommentActivity"
            android:label="Comment"
            android:theme="@style/AppThemeWithActionBar"
            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>